extends "base/base.pug"
block content
  .width-wide
    .about
      .my-photo
        img(src="{{ url_for('main.media_data_files', filename='my_ava.png') }}")
      .greeting
        h2 Привет! Меня зовут Антон, <br> я Python backend-разработчик.
        p Я занимаюсь разработкой web-приложений на <b>Django</b>, <b>FastAPI</b> и <b>Flask</b>
          | , работаю с <b>PostgreSQL</b>, <b>Docker</b> и внедряю <b>CI/CD</b>.
          | У меня есть опыт <b>коммерческой разработки</b>, а также <b>проектной работы в команде</b>.
          | Пишу <b>REST API</b>, покрываю код тестами (в том числе с помощью <b>pytest</b>),
          | умею адаптироваться к новым задачам и технологиям.
        p Сейчас я открыт к предложениям об удалённой работе.
          |  Особенно интересны проекты, где можно создавать работающие, полезные решения и расти профессионально.
        p Если вы ищете разработчика, который:
        ul
          li Внимателен к деталям и пишет поддерживаемый код,
          li Быстро осваивает новое и умеет работать в команде,
          li Понимает ценность как инженерного качества, так и бизнес-результата
        p давайте пообщаемся. Возможно, наше сотрудничество станет ценным для обеих сторон.
        p Ниже вы можете посмотреть проекты, в которых я участвовал в качестве разработчика.
        p Связаться со мной можно по контактам внизу страницы.

    .projects
      h2(id="projects") Проекты
      .projects-list
        for project in projects
          ul.cards-list
            li.card-item
              h3= project.title
              p= project.description
              p= project.stack
              p= project.role
              p!= project.tasks
